.light-theme {
    --background:  rgb(227, 212, 240);
    --shadow: #cab6ca;
    --note-background: white;
    --outline:  rgb(179 164 189);
    --border-bottom: rgb(203, 185, 214);
    --text-color: black;
    --clear-btn: #e9d8f4;
    --clear-btn-hover: #d3b4e8;
    --new-user-btn:#c1aad8;
    --new-user-btn-hover: #a895bb;
    --header: rgba(255, 255, 255, 0.5);
}

.dark-theme {
    --background:  rgb(69, 57, 78);
    --shadow: rgb(43, 33, 50);
    --note-background:  #7b6888;
    --outline:  rgb(131, 113, 146);
    --border-bottom:  rgb(150, 128, 168);
    --text-color: white;
    --clear-btn: #675075;
    --clear-btn-hover: #473652;
    --new-user-btn: #7b6888;
    --new-user-btn-hover:  #6f5580;
    --header: rgba(0, 0, 0, 0.5);
}

body {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}

h1 {
    font-weight: 100;
    font-size: 4rem;
}

.header {
    background: linear-gradient(to bottom, var(--header),  rgba(255, 255, 255, 0));
}

.input-text {
    padding: 0;
    background-color: var(--note-background) !important;
    color: var(--text-color) !important;
}

.input-text::placeholder {
    color: var(--text-color);
}

.bg {
    background-color: var(--background);
    height: 100vh;
    color: var(--text-color);
}

.note {
    background-color: var(--note-background);
    box-shadow: 5px 5px 6px var(--shadow);
}

.outline {
    outline: 1px solid var(--outline);
}

.border-at-bottom {
    border-bottom: 1px solid var(--border-bottom);
}

.create-btn,
.clear-tasks {
    background-color: var(--clear-btn);
    font-size: 0.8rem;
    color: var(--text-color);

    &:hover {
        background-color: var(--clear-btn-hover);
    }
}

.form-select {
    background-color: var(--note-background);
    color: var(--text-color);
    border-color: var(--outline);
}

.new-user {
    background-color: var(--new-user-btn);
    color: var(--text-color);

    &:hover {
        background-color: var(--new-user-btn-hover);
    }
}

.modal-bg {
    background-color: var(--note-background);
}
